<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Registration</title>
</head>
<body>
  <main>
    <header>
      <a href="#navigationBar">
        <img
        src="/imgs/spinningCD.gif"
        alt="cd-spinning-logo"
        width="50"
        height="50"
        id="logo1"
      />
    </a>
      <nav>
        <ul>
          <li>
            <a href="/"">
            <p>HOME</p>
            </a>
          </li>
          <li>
            <a href="/create">
            <p>REGISTER</p>
          </a>
          </li>
          <li>
            <a href="/read">
            <p>CATALOG</p>
            </a>
          </li>
          <li>
            <input type="text" class="searchTerm" placeholder="Search...">
            <button type="submit" class="searchButton">
          </li>
        </ul>
      </nav>
    </header>
    <section id="message">    
      <p>Album successfully updated!</p> 
      <span id="close">&times;</span>
    </section>
    <section id="backgroundAlbums">
        <div class="form">
        <form method="POST">
          <label for="field1">
            <span>Artist Name 
              <span class="required">*</span>
            </span>
          <input type="text" class="input-field" name="field1" value="" />
          </label>
          <label for="field2">
            <span>Album Name 
              <span class="required">*</span>
            </span>
            <input type="text" class="input-field" name="field2" value="" />
          </label>
          <label for="field3">
            <span>Release Date</span>
            <input type="date" class="input-field" name="field3" value="" />
          </label>

          <label for="field4">
            <span>Rating</span>
            <select name="field4" class="select-field">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
         </label>
        </form>
    </div>
    </section>
</main>
</body>
<script src="/js/script.js"></script>
</html>