<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>DISCOMANIA</title>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <img
            src="/imgs/spinningCD.gif"
            alt="cd-spinning-logo"
            width="50"
            height="50"
            id="logo1"
          />
          <ul>
            <li>
              <img src="/imgs/home1.png"
              onmouseover="this.src='/imgs/home2.png'"
              onmouseout="this.src='/imgs/home1.png'"
              class="menubar">
            </li>
            <li>
              <p>Home</p>
            </li>
            <li>
              <p>Home</p>
            </li>
            <li>
              <input type="text" class="searchTerm" placeholder="Search...">
              <button type="submit" class="searchButton">
            </li>
          </ul>
        </nav>
      </header>
      <section id="backgroundAlbums">
        <a href="/">
          <img
            src="/imgs/discomaniaLogo.png"
            height="200px;"
            width="1000px;"
            id="teste"
          />
        </a>
        <div class="presentationText">
          <h1>
            DISCOMANIA is a website where you can catalog all of your favourite
            albums and rank them!!
          </h1>
          <h3>
            You can also link with your Last.FM account to keep track of what
            you've been listening to!
          </h3>
          <div class="teste">
            <button class="btn">Try it out!</button>
          </div>
        </div>
      </section>
      <section id="artistLayout">
        <img src="/imgs/kanyewestHomePG.png" id="kanye1">
        <p  class="presentationText2">We have a very large catalog of albums, artists and songs for you to enjoy and show off you patrician music taste! </p>
      </section>
    </main>
    <footer>teste</footer>
  </body>
</html>
