body {
  background-color: rgb(68, 7, 68);
}
* {
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  /* background-image: url('/imgs/navBackground.png');
  background-size: cover; */
}

ul {
  list-style: none;
  display: flex;
}

nav ul li {
    padding: 1rem;
  }



nav ul li a:hover {
 color: white; 
}


.menubar{
  width: 150px;
  height: 50px;
}



#backgroundAlbums {
  background-image: url("/imgs/albumcover2mk1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;

  margin: 0px;
  padding: 0px;
}

#teste{

    text-align: center;
    padding: 40px;
    margin-top:40px;

    transition: transform 0.2s;}

#teste:hover {
  transform: scale(1.1);
}

.presentationText {
  font-style: italic;
  color: white;
  text-shadow: -1px -1px 0 rgb(61, 1, 117), 1px -1px 0 rgb(61, 1, 117),
    -1px 1px 0 rgb(61, 1, 117), 1px 1px 0 rgb(61, 1, 117);
  font-size: large;
  text-align: center;
  top: 350px;
  left: 110px;

}

.teste {
  margin: 70px;
}

.teste .btn {
  background-color: #9e0c76;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  letter-spacing: 1.5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: rgb(68, 7, 68);
}

#artistLayout{
  display:flex;
  flex-direction: row;
}

#kanye1{
  width: 1000px;
  height: 400px;
}

.presentationText2{
    font-style: italic;
  color: white;
  text-shadow: -1px -1px 0 rgb(255, 0, 191), 1px -1px 0 rgb(255, 0, 191),
    -1px 1px 0 rgb(255, 0, 191), 1px 1px 0 rgb(255, 0, 191);
  font-size: xx-large;
  text-align: center;
  padding-top: 150px;
  margin:0px;

}

footer{
  background-color: rgb(24, 19, 95)
}